div {
  border: 2px solid rgb(168, 203, 207);
  padding: 10px;
  border-radius: 4px;
  margin: 4px 0;
}

h1 {
  color: rgb(25, 95, 97);
}

.header {
  color: rgb(14, 96, 148);
}

.selected {
  background-color: rgba(0, 128, 0, 0.199);
}
