@layer grid {
  .grid {
    width: 100%;
    height: 100%;
    max-width: 600px;
    overflow: auto;
    display: block;
    border-spacing: 0;
    position: relative;

    &-header {
      position: sticky;
      top: 0;
      background-color: white;
      color: black;
      font-weight: bold;
      line-height: 40px;

      td {
        padding: 0;
      }
    }

    &-row {
      height: 40px;
      line-height: 40px;
      border: none;
      margin: 0;
      padding: 0;

      td {
        padding: 0;
      }
    }
  }
}
