html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
}

.outline {
  border: 1px solid gray;
  padding: 10px;
  background-color: #eee;
}

.router-link {
  text-decoration: none;
  margin: 10px;
  color: white;
}

.mdc-top-app-bar {
  width: 100vw;
}

.main {
  padding-top: 64px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
