$duration: 0.3s;

.page {
  color: red;

  &--initialize {
    animation: page-initialize $duration ease-out;
  }
  &--activate {
    animation: page-activate $duration ease-out;
  }
  &--deactivate {
    animation: page-deactivate $duration ease-out;
  }
  &--destroy {
    animation: page-destroy $duration ease-out;
  }
}

@media only screen and (min-width: 640px) {
  .page--destroy {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .page--deactivate {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      animation: page-overlay $duration ease-out;
      opacity: 50%;
    }
  }

  @keyframes page-initialize {
    0% {
      transform: translateX(100%);
    }
  }
  @keyframes page-activate {
    0% {
      transform: translateX(-30%);
    }
  }
  @keyframes page-deactivate {
    100% {
      transform: translateX(-30%);
      opacity: 20;
    }
  }
  @keyframes page-destroy {
    0% {
      opacity: 80;
    }
    100% {
      // transform: translateX(100%);
      opacity: 0;
    }
  }
  @keyframes page-overlay {
    0% {
      opacity: 0;
    }
  }
}
